/* Styles for the body element */
body {
    background-color: #f0f0f0;
  }
  
  /* Define o estilo para o cabeçalho com o título */
h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
  
  h2 {
    color: #666;
    margin-top: 20px;
  }
  
  /* Styles for the lists */
  ul, ol {
    margin-left: 30px;
  }
  
  /* Styles for the contact information */
  p:last-of-type {
    margin-top: 30px;
    font-weight: bold;
  }
  
  /* Styles for the form */
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Styles for the paragraph text */
  p {
    line-height: 1.5;
    text-align: justify;
  }
  
